<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Bull Market Icon -->
    <link href="/static/img/animals.ico" rel="icon">

    <!-- Attach index.html stylesheet -->
    <link rel="stylesheet" href="static/index.css">

    <!-- JavaScript -->
    <script src="https://kit.fontawesome.com/40a280368f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title>Bull Market: Welcome</title>

</head>

<body>
    <!-- The Navbar with Bull Marker logo -->
    <nav style="width: auto;" class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="/">
            <img src="static/img/BullMarket.png" width="100%" height="100" alt="A Bull jumping over his enemies"
                loading="lazy">
        </a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>
            </ul>
        </div>
    </nav>

    <!-- The Content -->
    <main>
        <div class="hero">
            <div class="hero-content">
                <h1 class="hero-title">Welcome to Bull Market!</h1>
                <p>The best and most comprehensive stock market game ever.</p>

                <a href="/login">Sign In</a>
                <a href="/register">Register</a>
            </div>
        </div>
    </main>

    <!-- The Footer -->
    <footer>
        <img style="width: 300px" src="static/img/BullMarket.png" alt="Footer Logo">
        <span>Bull Market<br>Copyright &copy; 2020 </span>
    </footer>


</body>

</html>